/* Small devices (576px and more) */
@media (min-width: 576px) {
    #my-projects .adventure {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #my-projects .adventure {
        width: 49%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #my-projects .adventure {
        width: 49%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #my-projects .adventure {
        width: 33%;
    }
}

body .wrapper .container-fluid header {
    margin-bottom: 4rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

#project-list .card-title {
    margin-left: 7rem;
}

#project-list p {
    margin-left: 7rem;
    margin-bottom: 0;
    max-height: 4.8em;
    overflow: hidden;
}

#project-list div img {
	width: 6em;
	height: 6em;
}

.form-group.form-optional span.form-optional {
    color: #f00;
    font-weight: bold;
    margin-left: 0.5rem;
}

.rounded-50 {
    border-radius: 50%;
}

.position-at-bottom {
    bottom: 50px;
    right: 40px;
}

.btn-circle.btn-xl {
    font-size: 24px;
    height: 60px;
    padding: 12px 0px;
    width: 60px;
}

.btn-circle {
    border-radius: 50%;
    font-size: 12px;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 0px;
    text-align: center;
    width: 30px;
}

.btn-circle:hover {
    background-color: blue;
    border-color: blue;
    color: white;
}
.configuration-item {
    margin: 2em;
}

/* DropCap Hack */
.first-letter-2:first-letter {
    color: #903;
    font-weight: bold;
    float: left;
    font-size: 4rem;
    line-height: 2.6rem;
    padding-top: 4px;
    padding-right: 4px;
}

.forced-link {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

#project {
    min-height: 16rem;
}

