$def with( )
$var page_id: new-project
$var page_title: Create a new project

<p>Fill the required information about the new project</p>
<form method="POST" action="/myprojects/create">
    <div class="form-row">
        <div class="form-group col-md-9">
            <label for="projectName">Name</label>
            <input type="text" class="form-control" id="projectName" name="projectName" aria-describedby="projectNameHelp" placeholder="Enter the name"
                data-toggle="tooltip" data-placement="top" data-html="true" title="Name of the folder of your new project and its simplified name. It only accepts letters, numbers the <em>-</em> (minus) char and the <em>_</em> (underscore) char">
        </div>
        <div class="form-group col-md-3">
            <label for="projectType">Type</label>
            <select class="form-control" id="projectType" name="projectType" aria-describedby="projectTypeHelp" placeholder="Enter the type of project"
                data-toggle="tooltip" data-placement="top" title="Type of project to create">
                <option value="inform7">Inform7</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="projectTitle">Project title</label>
            <input type="text" class="form-control" id="projectTitle" name="projectTitle" aria-describedby"projecTitleHelp" placeholder="Enter the title"
                data-toggle="tooltip" data-placement="top" title="This will be the title of your new project">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group form-optional col-md-4">
            <label for="storyGenre">Story genre</label>
            <input type="text" class="form-control" id="storyGenre" name="storyGenre" aria-describedby"storyGenreHelp" placeholder="Enter the story genre"
                data-toggle="tooltip" data-placement="top" title="This will be the story genre of your new project">
        </div>
        <div class="form-group form-optional col-md-8">
            <label for="storyHeadline">Story headline</label>
            <input type="text" class="form-control" id="storyHeadline" name="storyHeadline" aria-describedby"storyHeadlineHelp" placeholder="Enter the story headline"
                data-toggle="tooltip" data-placement="top" title="This will be the story headline of your new project">
        </div>
    </div>
    <div class="form-group form-optional">
        <label for="storyDescription">Project description</label>
        <textarea class="form-control" id="storyDescription" name="storyDescription" aria-describedby="storyDescriptionHelp" placeholder="Enter the name" rows="3"
            data-toggle="tooltip" data-placement="top" title="This will be a small summary about the history of the adventure, in plain text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create the project</button>
    <button name="action" type="submit" class="btn btn-danger" value="cancel">Don't create the project</button>
</form>
