$def with( projects )
$var page_id: project-list
$var page_title: My projects

$if projects and len( projects ) > 0:
    <div id="my-projects" class="d-flex flex-wrap justify-content-between">
        $for project in projects:
            <div id="$project.id" class="adventure card mb-3 box-shadow pr-0 pl-0">
                <a class="forced-link" href="/myprojects/project/$project.id"></a>
                <div class="card-body p-2">
                    <img class="img-fluid float-left" src="$project.adv.coverUrl"/>
                    <h6 class="card-title border-bottom">$project.adv.title</h6>
                    <p class="small">$project.adv.description</p>
                </div>
            </div>
    </div>
$else:
    <div class="alert alert-danger text-center" role="alert">
        You haven't created any project yet!
    </div>
</div>

<div class="position-fixed position-at-bottom">
    <a href="/myprojects/import" class="btn btn-danger btn-circle btn-xl" data-toggle="tooltip"
        title="Import a project"><i class="fas fa-file-import"></i></a>
    <a href="/myprojects/create" class="btn btn-danger btn-circle btn-xl" data-toggle="tooltip"
        title="Create a new project"><i class="fas fa-plus"></i></a>
</div>
