$def with(project, output)
$var page_id: project
$var page_title: $project.adv.title

<div class="media">
    <img class="border box-shadow mb-2 mr-3" src="$project.adv.coverUrl" alt="Cover">
    <div class="media-body">
        <h5 class="border-bottom">$(project.adv.postTitle if project.adv.postTitle else '')</h6>
        <p class="first-letter-2">$project.adv.description</p>
    </div>
</div>

<hr/>
<a href="/myprojects/run/$project.id" class="btn btn-primary">Run</a>
<a href="/myprojects/build/$project.id" class="btn btn-primary">Build</a>
<a href="/myprojects/edit/$project.id" class="btn btn-primary">Edit</a>

<hr/>
<p>Tags:
$for tag in project.tags:
    <span class="badge badge-primary">$tag</span>
</p>

$if output:
    <hr/>
    <h3>Output:</h3>
    <pre>
        <code>$:output</code>
    </pre>
