$def with(project)

$var page_id: project-run
$var page_title: $project.adv.title
$var cssfiles: /static/parchment/parchment.min.css
$var jsfiles: /static/parchment/jquery.min.js /static/parchment/parchment.min.js

<script>
    parchment_options = {
    default_story: [ '/myprojects/zblorbjs/$(project.id).zblorb.js' ],
    lib_path: '/static/parchment/',
    lock_options: 1,
    lock_story: 1,
    page_title: 0
    };
</script>
<div id="gameport">
    <div id="about">
        <h1>Parchment</h1>
        <p>is an interpreter for Interactive Fiction. <a href="http://parchment.googlecode.com">Find out more.</a></p>
        <noscript><p>Parchment requires Javascript. Please enable it in your browser.</p></noscript>
    </div>
    <div id="parchment"></div>
</div>
<div class="interpretercredit"><a href="https://github.com/curiousdannii/parchment">Parchment for Inform 7 (2017-12-28)</a></div>
