$def with (name)
$var page_id: welcome
$var page_title: Welcome to ifoman

<p>Welcome to the Interactive Fiction Online MANager software (ifoman), another web tool for IF adventures.</p>
<p>From this interface, you can do the following:</p>
<ul>
    <li>Explore the list of adventures (currently only your own adventures).</li>
    <li>Create, build and run new adventures, when possible (currently in early development stage).</li>
    <li>Manage tools for building and running the adventures (planned).</li>
    <li>Manage a list of repositories which contains extensions required for your adventure (planned).</li>
    <li>Manage users.</li>
</ul>

<p>ifoman tries to integrate with other tools to extract data from the sources (when availables).
    For example, the builder tool for Inform7 extracts automatically the cover, title, author, creation year,
    description, headline, genre and language.
    It uses the genre, year and creation year as tags.
</p>
<p class="text-center"><a href="/ifoman/credits">Press here to see a list of opensource projects used in ifoman</a></p>
