$def with( message )
$var page_id: sign-in-failed
$var page_title: Sign in failed

<div class="alert alert-danger text-center" role="alert">
    <p>$message</p>
    <a href="/users/signin" class="btn btn-primary">Go login page again</a>
</div>
