$def with(user)
$var page_id: my-profile
$var page_title: My profile

<form id="user-profile">
    <div class="card mb-3">
        <div class="card-header">My personal info</div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-sm-4">
                    <label for="user.username">Username</label>
                    <input type="text" readonly class="form-control" name="user.username" value="$user.username"/>
                </div>
                <div class="col-sm-8">
                    <label for="user.displayName">Full name</label>
                    <input type="text" readonly class="form-control" name="user.displayName" value="$user.displayName"/>
                </div>
            </div>
        </div>
    </div>
</form>
<form id="user-security">
    <div class="card mb-3">
        <div class="card-header">My account security</div>
        <div class="card-body">
            List of my roles
        </div>
    </div>
</form>
