$def with()
$var page_id: sign-in
$var page_title: Identify yourself

<div class="card-body">
    <div class="card-titleborder-bottom">Fill your username and password to login into the application</div>
    <form method="POST" action="/users/signin">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter your username"
                    data-toggle="tooltip" data-placement="top" title="This is the username to identify yourself in the application">
            </div>
            <div class="form-group col-md-8">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" aria-describedby"passwordHelp" placeholder="Enter the password associated to your username"
                    data-toggle="tooltip" data-placement="top" title="This is the credentials of your username">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <button name="action" type="submit" class="btn btn-danger" value="cancel">Send me to root page</button>
    </form>
</div>
