$def with()
$var page_id: configuration
$var page_title: Control panel

<table>
    <thead>
        <tr>
            <th>Variable</th>
            <th>Value</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>homePath</td>
            <td>$config.homePath</td>
            <td>The path where ifoman stores data.</td>
        </tr>
    </tbody>
</table>
